
.top-menu {
  background: #1976d2;
  padding: 2px 15px;
}

.logo {
  max-height: 55px;
}

.course-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px 0;
}

.info-title {
  font-weight: bold;
  font-size: 18px;
}

.courses {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  align-items: stretch;
  justify-items: center;
  row-gap: 20px;
  margin: 10px;
gap: 16px;
}




